body{
    font-family: 'Montserrat';
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 110px;
    border-bottom: 3px solid #77a466;
    margin: 0 auto;
}

header h1{
    float: left;
    margin: 0;
    padding: 36px 0;
    text-transform: uppercase;
}

header h1 span{
    color: #77a466;
}

header nav{
    float: right;
    padding 46px 0;
}

header nav ul{
    margin: 0;
    padding: 0;
}

header nav ul li{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    display: inline;
}

header nav ul li a{
    text-decoration: none;
    color: #77a466;
}

.top-section,
.bottom-section{
    margin: 0 auto;
    clear: both;
}

.main-image{
    height: auto;
    float: left;

}

.main-image img{
    border-bottom: 3px solid #77a466;
}

.main-title{
    height: auto;
    float: left;
}

.main-title h2{
    font-weight: bold;
    font-size: 18px;
    color: #77a466;
    text-transform: uppercase;
}

.main-title p{
    padding: 0;
    line-height: 25px;
    font-size: 16px;
}

.section-one,
.section-two,
.section-three {
    float: left;
    width: 350px;
    height: auto;
    border-top: 1px solid #9b9b9b;
}

.section-two{
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
}

.section-one h3,
.section-two h3,
.section-three h3{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.section-one{
    padding: 10px 0;
}

.section-two,
.section-three{
    padding: 10px 30px;
}
.menue{
    list-style: none;
    padding: 0;
}
.menue li{
    font-size: 16px;
    font-weight: normal;
    color: #77a466;
    line-height: 40px;
}

.reviews{
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;

}

.address{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

footer{
    border-top: 1px solid #9b9b9b ;
    height: 70px;
    text-align: center;
    clear: both;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
}

footer span{
    color: #77a466;
    font-family: 'Galada';
    font-size: 16px;
    text-transform: lowercase;
}